<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://kit.fontawesome.com/7f166df99d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div  class="name">
            <i class="fa-solid fa-scale-balanced"></i>
            VoteEase
            <span id="username">Username</span>

        </div>
       
        
    </div>

    <div class="container">
        <aside>
            <ul>
                <li><a href="/">Home</a></li><br>
                <li><a href="/#About">About</a></li><br>
                <li><a href="/#Contact">Contact</a></li><br>
                <li><a href="/create_poll">Create Poll</a></i>
            </ul>
        </aside>
        <main>
        
            <h1>Welcome to Your Dashboard</h1>
            <p>This is the main content area where you can display various information and functionalities.</p>
            <br><br>
            <div class="poll-box">
                <h2>What's your favorite color?</h2>
                <form>
                    <label>
                        <input type="radio" name="color" value="red">
                        Red
                    </label>
                    <label>
                        <input type="radio" name="color" value="blue">
                        Blue
                    </label>
                    <label>
                        <input type="radio" name="color" value="green">
                        Green
                    </label>
                    <label>
                        <input type="radio" name="color" value="yellow">
                        Yellow
                    </label>
                    <button type="submit">Vote</button>
                </form>
            </div>
           <br><br>
            <div class="poll-box">
                <h2>Whose your favourite  Indian Cricketer?</h2>
                <form>
                    <label>
                        <input type="radio" name="color" value="red">
                        Rohit Sharma
                    </label>
                    <label>
                        <input type="radio" name="color" value="blue">
                        Virat Kohli
                    </label>
                    <label>
                        <input type="radio" name="color" value="green">
                        Thala for a Reason
                    </label>
                    <label>
                        <input type="radio" name="color" value="yellow">
                        Yuvraj Singh
                    </label>
                    <button type="submit">Vote</button>
                </form>
            </div>
            <br><br>
            <div class="poll-box">
                <h2>Who will win IPL 2024?</h2>
                <form>
                    <label>
                        <input type="radio" name="color" value="red">
                        Chennai Super kings
                    </label>
                    <label>
                        <input type="radio" name="color" value="blue">
                        Sunrisers Hyderdabad
                    </label>
                    <label>
                        <input type="radio" name="color" value="green">
                        RCB loyal Fans hai hum
                    </label>
                    <label>
                        <input type="radio" name="color" value="yellow">
                        Rajasthan Royals
                    </label>
                    <button type="submit">Vote</button>
                </form>
            </div>
           

            </main>
    </div>
    <footer>
        <p>&copy; 2024 VoteEase. All rights reserved.</p>
    </footer>
    <script src="/js/dashboard.js"></script>
</body>
</html>
