<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoteEase</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/7f166df99d.js" crossorigin="anonymous"></script>

</head>
  <body>    

    <div>
        <div  class="name">
            <i class="fa-solid fa-scale-balanced"></i>
            VoteEase

        </div>
       
        
    </div>

    <nav>
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact Us</a>
         <div>
        <a href="/sign_up" id="sign-up">Sign up</a>
        <i class="fa-regular fa-user" id="icon"></i>
        <a href="/login">Login</a>
        </div> 

    </nav>

    <div class="hello" id="Home">
    
    </div>
  
    <div class="first-font">
        <p class="about" id="About">About us</p>
        <p>Welcome to VoteEase, trusted platform for a fair and transparent voting system. we are committed to provide a reliable platform on which people can create their own polls as well as participate in any poll that is created by our registered users. We aim at providing our users with the best of our services.</p>
    </div> 
    <div id="mainblock">
        <div class="shift">
            <img src="https://images.pexels.com/photos/159778/books-reading-series-narnia-159778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Try again">
            <h3>Books</h3>
            <p>Our registered users can create polls who have great interest in the fiction as well as the non-fiction world so as to understand what all books are being liked by the readers, coming with appropriate book suggestions.</p>
            <br><br><br>
        </div>
        <div class="shift">
            <img src="https://plus.unsplash.com/premium_photo-1683740129052-be35f1d6ce3e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Try again">
            <h3>Entertainment</h3>
            <p>In this section of our website our registered users can create polls for their favourite movies, series and music as well, through which the people taking part in the poll plus the users can see the trend.</p>
            <br><br><br>
        </div>
        <div class="shift">
            <img src="https://images.unsplash.com/photo-1645980230210-b8e1ec947eaa?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Try again">
            <h3>Politics</h3>
            <p>Our services also provide the users to create polls and test their ideologies and the kind of views they have regarding the various political issues and also what a set of people think towards what their views are inclined.</p>
            <br><br><br>
        </div>
        </div>
        <div id="mainbox">
        <div class="shift">
            <img src="https://images.unsplash.com/photo-1628779238951-be2c9f2a59f4?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Try again">
            <h3>Sports</h3>
            <p>Our services also include a section wherein our users can create polls according to their favourite sports and what all tends are presently going on in the various sport fields.Creating polls makes the people understand everybody's thinking in a better manner.</p>
            <br><br><br>
        </div>
        <div class="shift">
            <img src="https://images.unsplash.com/photo-1625467096769-fefb5ebdb54c?q=80&w=2021&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Try again">
            <h3>Devices</h3>
            <p>Our users can also create polls to to find out the latest technology in trend and currently what electronic devices are in demand plus what features they have. Allowing the users to know what all devices are being liked by the various people.</p>
            <br><br><br>
        </div>
        <div class="shift">
            <img src="https://images.unsplash.com/photo-1674027214993-52de23be5a18?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Try again">
            <h3>Technologies</h3>
            <p>Our users can also create polls to find out the latest technologies that are being preferred by the various users and currently what is in trend, helping the users to understand whuch technology should be used and why they should be used.</p>
            <br><br><br>
        </div>
    </div>
    <hr class="down" id="Contact">
    <div class="shift1">
        <p class="about">Reach Out</p>
        <p> We'll love your feedback!!</p>
    </div>
    
    <div id="mainblock">
        <div class="set"> 
            <img src="https://cdn.pixabay.com/photo/2016/03/27/16/24/smartphone-1283012_1280.jpg" alt="Load Again">
        </div>
        <div class="fix">
            <i> GLA,Mathura</i>
                   <br>
                <i>Phone: +00 151515</i> 
                   <br>
                <i>Email: support@mail.com</i> 
                   <br>
            
            <div class="fix">
                <p>Please share your valuable feedback because feedback always makes us better.<br><b class="thnk">Thank You</b></p>
                <div class="set1">
                    <div class="space">
                    <div>
                      <div class="set2">
                        <input type="text" name="Name" placeholder="Name:" class="broad" id="Namef"><br>
                        <input type="text" name="Email" placeholder="Email:" class="broad" id="Emailf"><br>
                      </div>
                      <label for="yourself"></label>
                      <textarea name="myText" placeholder="Feedback:" class="msg"  cols="42" rows="4" id="yourself"></textarea>
                    </div>
                      <br>
                      <div id="Message_Banner2">
            </div>
                    <button class='btn'>
                       Send
                    </button>
                    </div>
                    
                    
                  </div>

  </body>
</html>
