
body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }
  .login-container {
    background-color: beige;
    padding: 20px;
    height: 200px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 6px 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .login-container h2 {
    margin-top: 0;
    font-style: italic;
    text-align: center;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
  }
  .login-form input[type="submit"] {
    background-color: #265073;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }