body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.signup-container {
    max-width: 400px;
    margin: 70px auto;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 4px 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #265073;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
